*{
  box-sizing: border-box;
}

body{
  margin:0;
}

.container{
  width:100%;
  background-color:#faebd7;
  margin: auto;


}


.logo{
  margin: auto;
  width:100%;
  height:80px;
  text-align: center;

}


.menu{
  width:100%;
  margin:auto;
  padding-bottom: 150px;
  padding-top: 20px;
}

.clear_fix{
  content:"";
  clear:both;
  display:table;
}

.menu > ul{

  list-style: none;
  display:flex;
  margin:0;
  padding:0;
  justify-content: center;

}

.menu li{
  list-style: none;
  padding: 5px 10px;
}

.menu a:hover{
  color: #ded2b6;
}

.sub{
  display:none;
  position: absolute;
  padding-top: 5px;
  width:100px;
  height:100px;
  left:50%;
  transform:translateX(-50%);
}

li:hover .sub{
  display: block;
}

.sub ul{
  list-style: none;
  margin:0;
  padding:0;
  text-align: center;

}

.work_row{
  width:100%;
  margin:auto;
  display: flex;
  justify-content: flex-start;

}

.thumb_mod{
  height:410px;
  background: #fefefa;
  box-shadow: 0 4px 8px 0 #d2a796, 0 6px 20px 0 #d2a796;
}

.thumb_mod:hover{
  opacity:.5;
}


.hero{
  width:100%;
  margin:auto;
}

.hero img{
  width:100%;
  display:block;
  margin:auto;
}
